{% extends 'core/base.html' %}

{% block content %}
<!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'private-home' %}">BillMan - Billing Manager</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'private-home' %}">Home</a></li>
            <li><a href="{% url 'profile-view' %}">Meu perfil</a></li>
            <li><a href="{% url 'contacts-view' %}">Contato</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>



{% if user_empty_services %}
    <div class="container theme-showcase" role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>{{status_message}}</h1>
        <div class="alert alert-warning" role="alert">
        <strong>Informação:</strong> Você não tem serviços cadastrados no momento.
      </div>
      </div>
    </div>
{% else %}
    <div class="page-header">
        <h1>Serviços</h1>
      </div>
    <div class="row">
        <div class="col-md-6">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Serviço</th>
                <th>Quantidade</th>
                <th>Valor unitário</th>
                <th>Subtotal</th>
              </tr>
            </thead>
            <tbody>
            {% for item in user_services %}
              <tr>
                <td>{{ item.description }}</td>
                <td>{{ item.count }}</td>
                <td>R$ {{ item.unit_price }}</td>
                <td>R$ {{ item.subtotal }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <h3>Total: {{ total }}</h3>
        </div>
    </div>
{% endif %}

{% if not billing_history %}
    <div class="container theme-showcase" role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="alert alert-warning" role="alert">
        <strong>Informação:</strong> Sem histórico financeiro no momento.
      </div>
      </div>
    </div>
{% else %}
    <div class="page-header">
        <h1>Histórico</h1>
      </div>
    <div class="row">
        <div class="col-md-6">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Data</th>
                <th>Atualizado em</th>
                <th>Criado em</th>
              </tr>
            </thead>
            <tbody>
            {% for item in billing_history %}
              <tr>
                <td>{{ item.description }}</td>
                <td>{{ item.value }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.created_at }}</td>
                <td>{{ item.updated_at }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
{% endif %}


{% endblock %}